build/
deps/
.vscode/
vcpkg/
example/Linux/install-Lib
example/Linux/build
example/Windows/install-Lib
example/Windows/build
aiproduction/include/aiproduction_export.h
testAccuracy/classification/Imagenet/Cpp/build
testAccuracy/classification/Imagenet/Cpp/Install
testAccuracy/classification/Imagenet/Cpp/tensorrtModel
testAccuracy/classification/Imagenet/Cpp/resnet50.onnx
testAccuracy/classification/Imagenet/TestDifferentThreshold
testAccuracy/objectDetection/TestCoco/Cpp/build
testAccuracy/objectDetection/TestCoco/Cpp/Install
testAccuracy/objectDetection/TestCoco/Cpp/tensorrtModel
testAccuracy/objectDetection/TestCoco/python/instances_val2017.json
testAccuracy/objectDetection/TestCoco/python/yoloVal.json
testAccuracy/objectDetection/TestCoco/python/TestDifferentThreshold
testAccuracy/instanceSegmentation/TestCoco/Cpp/build
testAccuracy/instanceSegmentation/TestCoco/Cpp/Install
testAccuracy/instanceSegmentation/TestCoco/Cpp/tensorrtModel
testAccuracy/instanceSegmentation/TestCoco/Cpp/tensorrtModel/yolact.onnx
testAccuracy/instanceSegmentation/TestCoco/python/instances_val2017.json
testAccuracy/instanceSegmentation/TestCoco/python/yoloVal.json
testAccuracy/instanceSegmentation/TestCoco/python/TestDifferentThreshold
classes/
aiproduction/aiproduction_export.h
example/classification/build/*
example/classification/Install/*
example/classification/tensorrtModel/*
example/object_detection/build/*
example/object_detection/Install/*
example/object_detection/tensorrtModel/*
example/instance_segmentation/build
example/instance_segmentation/Install
example/instance_segmentation/tensorrtModel
example/pose_detection/build
example/pose_detection/hrnet.onnx
example/pose_detection/Install
example/pose_detection/tensorrtModel
Model/
testAccuracy/Dataset
onnxConversion/Yolov3/models
